include easyflex/dataservices/*
include easyflex/dataservices/ds_bi_declaratieregels/*.py
include easyflex/dataservices/ds_fw_arbeidscontract/*.py
include easyflex/dataservices/ds_fw_fase_details/*.py
include easyflex/dataservices/ds_fw_fases/*.py
include easyflex/dataservices/ds_fw_huidige_fase/*.py
include easyflex/dataservices/ds_fw_journaalposten/*.py
include easyflex/dataservices/ds_fw_loonjournaal/*.py
include easyflex/dataservices/ds_fw_loonspecificatie/*.py
include easyflex/dataservices/ds_fw_loonspecificatiegegevens/*.py
include easyflex/dataservices/ds_fw_memovelden/*.py
include easyflex/dataservices/ds_fw_persoonsgegevens_all/*.py
include easyflex/dataservices/ds_fw_persoonsgegevens_comm/*.py
include easyflex/dataservices/ds_fw_reservering_update/*.py
include easyflex/dataservices/ds_fw_reserveringen/*.py
include easyflex/dataservices/ds_fw_wwpremie/*.py
include easyflex/dataservices/ds_rf_declaraties_all/*.py
include easyflex/dataservices/ds_rf_declaraties_perioden/*.py
include easyflex/dataservices/ds_rl_bedrijfsgegevens/*.py
include easyflex/dataservices/ds_rl_fw_uren/*.py
include easyflex/dataservices/ds_rl_kostenplaatsen/*.py
include easyflex/dataservices/ds_rl_plaatsing_looncomponent/*.py
include easyflex/dataservices/ds_rl_plaatsingen/*.py
include easyflex/dataservices/ds_wm_locaties/*.py
include easyflex/dataservices/ds_wm_medewerkers/*.py
include easyflex/dataservices/ds_wm_notificaties/*.py
